*{
	margin:0;
    border-radius: 4px;
    
}
.Big_Box{
    margin-top: 15%;
}
.Middle_Box{
    border-color: #808080cc;
    border-width: 10px;
    position:relative;
    width: 640px; 
    height: 360px; 
    background-color: darkgray;
    /* background-image: url(60103079_p0_master1200.jpg); */
    background-repeat: no-repeat;
    background-position: auto;
    background-size: 100%;
    margin:0 auto;
}
.Little_Box>form{
    text-align: center;
    padding-top:15%;
    height: 260px;
    overflow: hidden;
}
.Little_Box>form>.username{
    margin-bottom:23px;
    width: 270px;
    height: 15px;
    /* border-radius: 4px; */
    background-color: #80808033;
}
.Little_Box>form>.email{
    margin-bottom:23px;
    width: 270px;
    height: 15px;
    /* border-radius: 4px; */
    background-color: #80808033;
}
.Little_Box>form>.password{
    margin-bottom:15px;
    width: 270px;
    height: 15px;
    /* border-radius: 4px; */
    background-color: #80808033;
}
.Little_Box>form>.captcha{
    margin-bottom:15px;
    width: 155px;
    height: 15px;
    border-radius: 4px;
    background-color: #80808033;
    /* background-color: green; */
}
.Little_Box>form>img{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    position: relative;
    left: 10px;
    top: 9px;
    filter: blur(0.8px);
}
.Little_Box>form>.Bit_Box{
    width: 100px;
    height: 5px;
    /* margin: 0 auto; */
    color:aqua;
}
.Little_Box>form>.Bit_Box>.submit{
    width: 80px;
    height: 40px;
    border-radius: 4px;
    position: relative;
    left: 405px;
    font-size:20px;
    color: white;
    background-color: #39c5bb69;
}