/* body{
    background-image: url(../img/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
.class{
	margin-left: 3%;
}
.user{
	margin-right: 2%;
}
.subject{
	width: 100%;
	height: auto;
	/* margin-top:4px; */
    padding:1em;
    border: 1em solid transparent;
    /* border-image:repeating-linear-gradient(-110deg, #0a77f3 0, #fff 2em, transparent 0, transparent 1em, #fff 0, #ccc 3em, transparent 0, transparent 2em)  16; */
}
.subject>h1{
	padding-left: 20px;
	margin: 20px 0;
}
.subject .kernel{
    background-color: rgba(241, 232, 232, 0.76);
    border-radius: 20px;
    width: 90%;
    margin: 20px auto;
}
.subject .kernel ul li{
    width: 95%;
    height: 40px;
    color: #000;
    line-height: 50px;
    /* text-align: center; */
    margin: 0 auto;
   
}
.subject .kernel ul .name{
    text-indent: 4px;
}

.subject .kernel ul .name a{
    color: #000;
    font-size: 20px;
}
.create_time{
    /* text-indent: 2px; */
    font-size: 1px;
    /* line-height: 15px; */
}
.subject .kernel ul .content{
    text-indent: 2em;
    line-height: 45px;
}
